<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/userInfo.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>  
    <%- include("header.ejs",{title:'个人中心',logout:"退出",who:who,create:'',index:"返回首页",isNew:isNew})%>
  <div class="container-fluid">
      <div class="container">
        <div class="revise-personinfo" style="background-image:url(<%=infoList.stylePath%>);">
          <div class="close-revise">×</div>
          <h2 class="edit-head">编辑个人资料</h2>
          <div class="m-image">
            <div class="edit-head-img">
              <img src="<%= infoList.headPath %>" alt="" class="img-round" id="img-circle" width="100" height="100">
              <i class="glyphicon glyphicon-plus" id="plus"></i>
            </div>
            <div class="upload-img">
              <input type="file" id="user-image" onchange="changepic('user')" name="myimg">
              <div class="ipt-mask">上传头像</div> 
            </div>
          </div>
          <div class="m-name">
              <label>昵称：</label>
              <input type="text" id="user-name" value="<%= isNew?who:infoList.nickname%>">
          </div>
          <div class="m-age">
              <label>年龄：</label>
              <input type="text" id="user-age" value="<%= infoList.age%>">
          </div>
          <div class="m-gender">
              <label>性别：</label>
              <input type="text" id="user-gender" value="<%= infoList.gender%>">
          </div>
          <div class="m-addr">
              <label>常居地：</label>
              <input type="text" id="m-addr" value="<%= infoList.addr %>">
          </div>
          <div class="m-mark">
              <label>个性标签：</label>
              <textarea name="m-mark" id="m-mark" cols="30" rows="6"><%= infoList.mark%>
              </textarea>      
          </div>
          <div id="revise">确定</div>
        </div>
        <div class="styleImg" name="<%= infoList.id %>">
          <div class="storeImg">保存</div>
          <img src="<%= infoList.stylePath%>" alt="" id="style-img-src">
          <div class="edit-img">
            <div class="file-down">
              <input type="file" id="style-img" name="styleImg" onchange="changepic('style')">
            </div>
            <div class="file-on"> 
              <i class="glyphicon glyphicon-camera"></i>
              编辑封面图片
            </div>  
          </div>
        </div>
        <div class="revise-my-info">
          <div class="head-img">
            <% if(isNew) {%>
            <div class="no-head">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <%}else{%>
            <img src="<%= infoList.headPath%>" alt="">
            <%}%>
          </div>
          <div class="nickname">
            <h2><%= isNew?who:infoList.nickname%></h2>
          </div>
          <div class="all-info">
            <div class="detailed-info">
              <p>个性标签:<span  class="b-mark"><%= infoList.mark%></span></p>
              <p>常住地:<span class="b-addr"><%= infoList.addr%></span></p>
              <p>性别:<span class="b-gender"><%= infoList.gender%></span></p>
              <p>年龄:<span class="b-age"><%= infoList.age%></span></p>
            </div> 

          </div>
          <div class="look-edit">
             <div class="look-all">
              <i class="glyphicon glyphicon-chevron-down"></i>
               查看全部资料
             </div>
            <div class="edit-info">
              编辑个人资料
            </div>
          </div>
       
        </div>

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">博客</a></li>
          <li role="presentation"><a href="#">相册</a></li>
          <li role="presentation"><a href="#">收藏</a></li>
          <li role="presentation"><a href="#">关注</a></li>
        
        </ul>
        <ul class="info-content" id="info-content">
          <li>
            <table class="table" >
              <caption>我的博客</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>标题</th>
                  <th>创建日期</th>
                  <th>喜欢</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0;i<itemList.length;i++){%>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><a href="/detail?id=<%= itemList[i]._id %>"><%= itemList[i].title%></a></td>
                        <td><%= handleDate(itemList[i].createTime)%></td>
                        <td><%= itemList[i].like%></td>           
                    </tr>
                <%}%>
              </tbody>
            </table>
          </li>
          <li>
            <div>aaa</div>
          </li>
          <li>
            <div class="collect">
    
              <%if(collectlist===undefined){%>
                <div class="nocollect">你还没有收藏哟~ ~ ~</div>
              <%}else{%>
              <table class="table" >
                <caption>我收藏的博客</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>题目</th>
                  </tr>
                </thead>
                <tbody>
    
                     <% collectlist.forEach(item=>{ %>
                     <% for(var i=0;i<item.length;i++){%>
                     <tr>
                        <th><%= i+1%></th>       
                        <th><%= item[i].title%></th>       
                     </tr>    
                  <%}%>
                  <%})%>
                </tbody>
              </table>
              <%}%>
            </div>
          </li>
          <li>
            <div class="myfocus">
              <%if(focuslist===undefined){%>
                <div class="nofocus">你还没有关注哟~ ~ ~</div>
              <%}else{%>
              <table class="table" >
                <caption>我关注的博主</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th></th>
                    <th>关注</th>
                  </tr>
                </thead>
                <tbody>
                     <% focuslist.forEach(item=>{ %>
                     <% for(var i=0;i<item.length;i++){%>
                     <tr>
                        <th><%= i+1%></th>  
                        <th><img src="<%= item[i].headPath%>" alt=""></th>     
                        <th><%= item[i].nickname%></th>       
                     </tr>    
                  <%}%>
                  <%})%>
                </tbody>
              </table>
          
              <%}%>
            </div>
          </li>            
        </ul>

        </div>
      </div>  
    </div>



  </div>
   
    <div class="dialog-mask">
         <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document" id="modal-dialog">
              <div class="modal-content" id="modal-content">
                <div class="modal-body">
                  <p>成功</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="confime">确定</button> 
                </div>
              </div>
            </div>
         </div>
    </div>
   <%- include("footer.ejs") %> 
    <script>
      $('.close-revise').click(function(){
        
        $('.revise-personinfo').css('display','none');
      })
      $('.edit-info').click(function(){
        $('.revise-personinfo').css('display','block');
      })
      $('.look-all').click(function(){
          $('.look-all i').toggleClass(' glyphicon-chevron-down glyphicon-chevron-up');
        if($('.look-edit').css('top')==='140px'){
          $('.look-edit').css('top','60px');
          
        }else{
         $('.look-edit').css('top','140px');
        }
      })
      var index=0;
      $('.nav-pills li').each(function(i){
         $(this).click(function(){
          console.log('--'+index);
          $('.info-content li').eq(index).css('display','none');
          index=i;
          console.log(i);
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.info-content li').eq(i).css('display','block')
         })
      })
      $('#modify-info').click(function(){
        $('.my-info').css('display','none');
        $('.revise-info').css('display','block');
      }) 
      function ajax(url){
         var file = document.getElementById("user-image");
         var formData = new FormData();
         formData.append('file',file.files[0]);
         formData.append('nickname',$('#user-name').val());
         formData.append('age',$('#user-age').val());
         formData.append('addr',$('#m-addr').val());
         formData.append('mark',$('#m-mark').val());
         formData.append('gender',$('#user-gender').val());
         $.ajax({
           url: url,
           type: 'POST',
           data: formData,
           cache: false,
           contentType: false,
           processData: false,
           success: function(resp){
            console.log(resp)
              if(resp.ok){
                $('.dialog-mask').css('display','block');
                $('#confime').click(function(){
                $('.dialog-mask').css('display','none');
                })
              }else{

              }
           },
           error: function(){
             console.log('error');
           }
         });

      }
  
      $('#create').click(function(){
        ajax('/personInfo');
          
      })
       $('#revise').click(function(){
        ajax('/personInfo/update');
          
      })


   function changepic(who) {
       console.log(this);
        var reads = new FileReader();
       if(who==='style'){
          f = document.getElementById('style-img').files[0];
           reads.readAsDataURL(f);
           reads.onload = function(e) {
           document.getElementById('style-img-src').src = this.result;
           
           }
       }
       if(who==='user'){
          f = document.getElementById('user-image').files[0];
          reads.readAsDataURL(f);
          reads.onload = function(e) {
          
          document.getElementById('img-circle').src = this.result;
          
          }
       }
      
    }
    $('.file-down').click(function(){
      console.log('cccc');
       $('.storeImg').css('display','block');
    })

    $('.storeImg').click(function(){
      var file = document.getElementById("style-img");
      var id=$('.styleImg').attr('name');
      console.log(id);
      var formData = new FormData();
      console.log(file);
      formData.append('file',file.files[0]);
      formData.append('id',id);
      $.ajax({
        url:'/personInfo/addstyleimg',
        type:'post',
        data:formData,
        cache: false,
        contentType: false,
        processData: false,
        success:function(res){
          console.log(res);

        },
        error:function(){
          console.log("请求失败")
        }
      })

    })
    window.onscroll=function(){
      var scrollTop=document.documentElement.scrollTop||document.body.scrollTop;
      if(scrollTop>100){
         $('#container-top').addClass('fixedtop');
      }else{
         $('#container-top').removeClass('fixedtop');

      }
    }

       
    </script>
  </body>
</html>
